In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset save it in Pycharm Projects/Name of Project
dataset = pd.read_csv('Churn_Modelling.csv')
#Looking at the features we can see that row no.,name will have no relation with a customer with leaving the bank
#so we drop them from X which contains the features Indexes from 3 to 12
X = dataset.iloc[:, 3:13].values
#We store the Dependent value/predicted value in y by storing the 13th index in the variable y
y = dataset.iloc[:, 13].values
#Printing out the values of X --> Which contains the features
#                           y --> Which contains the target variable
print(X)
print(y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [3]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()#creating label encoder object no. 1 to encode region name(index 1 in features)
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])#encoding region from string to just 3 no.s 0,1,2 respectively
labelencoder_X_2 = LabelEncoder()#creating label encoder object no. 2 to encode Gender name(index 2 in features)
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])#encoding Gender from string to just 2 no.s 0,1(male,female) respectively
#Now creating Dummy variables
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [5]:
import keras
from keras.models import Sequential#For building the Neural Network layer by layer
from keras.layers import Dense#To randomly initialize the weights to small numbers close to 0(But not 0)

Using TensorFlow backend.

In [0]:
import tensorflow as tf

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(1000, activation='relu', input_shape=(10,)))
model.add(tf.keras.layers.Dense(500, activation='relu'))
model.add(tf.keras.layers.Dense(100, activation='sigmoid'))

In [0]:
#Compile the model
#model.compile(optimizer=sgd_optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

#Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.05)

In [0]:
# Compiling the ANN
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [11]:
model.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 8000 samples
Epoch 1/100
8000/8000 [==============================] - 5s 599us/sample - loss: 0.4313 - acc: 0.8162
Epoch 2/100
8000/8000 [==============================] - 4s 519us/sample - loss: 0.4014 - acc: 0.8310
Epoch 3/100
8000/8000 [==============================] - 4s 518us/sample - loss: 0.3888 - acc: 0.8362
Epoch 4/100
8000/8000 [==============================] - 4s 522us/sample - loss: 0.3829 - acc: 0.8399
Epoch 5/100
8000/8000 [==============================] - 4s 523us/sample - loss: 0.3764 - acc: 0.8429
Epoch 6/100
8000/8000 [==============================] - 4s 503us/sample - loss: 0.3777 - acc: 0.8405
Epoch 7/100
8000/8000 [==============================] - 4s 519us/sample - loss: 0.3783 - acc: 0.8392
Epoch 8/100
8000/8000 [==============================] - 4s 533us/sample - loss: 0.3761 - acc: 0.8409
Epoch 9/100
8000/8000 [==============================] - 4s 520us/sample - loss: 0.3728 - acc: 0.8437
Epoch 10/100
8000/8000 [==============================] - 4s 560us/sample - loss: 0.3709 - acc: 0.8435
Epoch 11/100
8000/8000 [==============================] - 4s 512us/sample - loss: 0.3696 - acc: 0.8444
Epoch 12/100
8000/8000 [==============================] - 4s 516us/sample - loss: 0.3710 - acc: 0.8438
Epoch 13/100
8000/8000 [==============================] - 4s 529us/sample - loss: 0.3732 - acc: 0.8407
Epoch 14/100
8000/8000 [==============================] - 4s 533us/sample - loss: 0.3737 - acc: 0.8422
Epoch 15/100
8000/8000 [==============================] - 4s 520us/sample - loss: 0.3656 - acc: 0.8459
Epoch 16/100
8000/8000 [==============================] - 4s 521us/sample - loss: 0.3664 - acc: 0.8477
Epoch 17/100
8000/8000 [==============================] - 5s 612us/sample - loss: 0.3634 - acc: 0.8477
Epoch 18/100
8000/8000 [==============================] - 4s 529us/sample - loss: 0.3671 - acc: 0.8434
Epoch 19/100
8000/8000 [==============================] - 4s 512us/sample - loss: 0.3639 - acc: 0.8459
Epoch 20/100
8000/8000 [==============================] - 4s 513us/sample - loss: 0.3654 - acc: 0.8472
Epoch 21/100
8000/8000 [==============================] - 4s 539us/sample - loss: 0.3638 - acc: 0.8473
Epoch 22/100
8000/8000 [==============================] - 4s 530us/sample - loss: 0.3653 - acc: 0.8417
Epoch 23/100
8000/8000 [==============================] - 4s 520us/sample - loss: 0.3610 - acc: 0.8479
Epoch 24/100
8000/8000 [==============================] - 4s 516us/sample - loss: 0.3641 - acc: 0.8462
Epoch 25/100
8000/8000 [==============================] - 4s 515us/sample - loss: 0.3647 - acc: 0.8444
Epoch 26/100
8000/8000 [==============================] - 4s 537us/sample - loss: 0.3582 - acc: 0.8445
Epoch 27/100
8000/8000 [==============================] - 4s 536us/sample - loss: 0.3610 - acc: 0.8490
Epoch 28/100
8000/8000 [==============================] - 4s 549us/sample - loss: 0.3570 - acc: 0.8454
Epoch 29/100
8000/8000 [==============================] - 5s 571us/sample - loss: 0.3562 - acc: 0.8514
Epoch 30/100
8000/8000 [==============================] - 4s 541us/sample - loss: 0.3555 - acc: 0.8473
Epoch 31/100
8000/8000 [==============================] - 4s 543us/sample - loss: 0.3609 - acc: 0.8465
Epoch 32/100
8000/8000 [==============================] - 4s 533us/sample - loss: 0.3541 - acc: 0.8508
Epoch 33/100
8000/8000 [==============================] - 4s 524us/sample - loss: 0.3528 - acc: 0.8512
Epoch 34/100
8000/8000 [==============================] - 4s 527us/sample - loss: 0.3541 - acc: 0.8507
Epoch 35/100
8000/8000 [==============================] - 4s 534us/sample - loss: 0.3508 - acc: 0.8530
Epoch 36/100
8000/8000 [==============================] - 4s 529us/sample - loss: 0.3528 - acc: 0.8497
Epoch 37/100
8000/8000 [==============================] - 4s 522us/sample - loss: 0.3509 - acc: 0.8511
Epoch 38/100
8000/8000 [==============================] - 4s 523us/sample - loss: 0.3532 - acc: 0.8524
Epoch 39/100
8000/8000 [==============================] - 4s 527us/sample - loss: 0.3524 - acc: 0.8505
Epoch 40/100
8000/8000 [==============================] - 5s 563us/sample - loss: 0.3492 - acc: 0.8506
Epoch 41/100
8000/8000 [==============================] - 4s 534us/sample - loss: 0.3496 - acc: 0.8504
Epoch 42/100
8000/8000 [==============================] - 4s 547us/sample - loss: 0.3484 - acc: 0.8524
Epoch 43/100
8000/8000 [==============================] - 4s 539us/sample - loss: 0.3492 - acc: 0.8499
Epoch 44/100
8000/8000 [==============================] - 4s 550us/sample - loss: 0.3489 - acc: 0.8526
Epoch 45/100
8000/8000 [==============================] - 4s 540us/sample - loss: 0.3499 - acc: 0.8536
Epoch 46/100
8000/8000 [==============================] - 4s 533us/sample - loss: 0.3452 - acc: 0.8550
Epoch 47/100
8000/8000 [==============================] - 4s 504us/sample - loss: 0.3485 - acc: 0.8494
Epoch 48/100
8000/8000 [==============================] - 4s 526us/sample - loss: 0.3473 - acc: 0.8539
Epoch 49/100
8000/8000 [==============================] - 4s 518us/sample - loss: 0.3437 - acc: 0.8532
Epoch 50/100
8000/8000 [==============================] - 4s 526us/sample - loss: 0.3458 - acc: 0.8539
Epoch 51/100
8000/8000 [==============================] - 4s 509us/sample - loss: 0.3402 - acc: 0.8513
Epoch 52/100
8000/8000 [==============================] - 4s 539us/sample - loss: 0.3490 - acc: 0.8507
Epoch 53/100
8000/8000 [==============================] - 4s 551us/sample - loss: 0.3408 - acc: 0.8530
Epoch 54/100
8000/8000 [==============================] - 4s 532us/sample - loss: 0.3407 - acc: 0.8520
Epoch 55/100
8000/8000 [==============================] - 4s 515us/sample - loss: 0.3444 - acc: 0.8516
Epoch 56/100
8000/8000 [==============================] - 4s 518us/sample - loss: 0.3437 - acc: 0.8525
Epoch 57/100
8000/8000 [==============================] - 4s 548us/sample - loss: 0.3417 - acc: 0.8518
Epoch 58/100
8000/8000 [==============================] - 4s 514us/sample - loss: 0.3348 - acc: 0.8566
Epoch 59/100
8000/8000 [==============================] - 4s 516us/sample - loss: 0.3370 - acc: 0.8560
Epoch 60/100
8000/8000 [==============================] - 4s 527us/sample - loss: 0.3424 - acc: 0.8543
Epoch 61/100
8000/8000 [==============================] - 4s 505us/sample - loss: 0.3388 - acc: 0.8557
Epoch 62/100
8000/8000 [==============================] - 4s 510us/sample - loss: 0.3399 - acc: 0.8556
Epoch 63/100
8000/8000 [==============================] - 4s 556us/sample - loss: 0.3386 - acc: 0.8571
Epoch 64/100
8000/8000 [==============================] - 5s 592us/sample - loss: 0.3419 - acc: 0.8536
Epoch 65/100
8000/8000 [==============================] - 4s 518us/sample - loss: 0.3393 - acc: 0.8573
Epoch 66/100
8000/8000 [==============================] - 4s 515us/sample - loss: 0.3349 - acc: 0.8518
Epoch 67/100
8000/8000 [==============================] - 4s 524us/sample - loss: 0.3370 - acc: 0.8528
Epoch 68/100
8000/8000 [==============================] - 4s 516us/sample - loss: 0.3353 - acc: 0.8566
Epoch 69/100
8000/8000 [==============================] - 4s 520us/sample - loss: 0.3334 - acc: 0.8539
Epoch 70/100
8000/8000 [==============================] - 4s 516us/sample - loss: 0.3299 - acc: 0.8608
Epoch 71/100
8000/8000 [==============================] - 4s 561us/sample - loss: 0.3340 - acc: 0.8597
Epoch 72/100
8000/8000 [==============================] - 4s 555us/sample - loss: 0.3342 - acc: 0.8575
Epoch 73/100
8000/8000 [==============================] - 4s 524us/sample - loss: 0.3327 - acc: 0.8543
Epoch 74/100
8000/8000 [==============================] - 4s 553us/sample - loss: 0.3310 - acc: 0.8577
Epoch 75/100
8000/8000 [==============================] - 4s 550us/sample - loss: 0.3320 - acc: 0.8592
Epoch 76/100
8000/8000 [==============================] - 4s 527us/sample - loss: 0.3305 - acc: 0.8581
Epoch 77/100
8000/8000 [==============================] - 4s 531us/sample - loss: 0.3253 - acc: 0.8605
Epoch 78/100
8000/8000 [==============================] - 5s 597us/sample - loss: 0.3275 - acc: 0.8610
Epoch 79/100
8000/8000 [==============================] - 4s 528us/sample - loss: 0.3322 - acc: 0.8575
Epoch 80/100
8000/8000 [==============================] - 4s 521us/sample - loss: 0.3305 - acc: 0.8569
Epoch 81/100
8000/8000 [==============================] - 4s 534us/sample - loss: 0.3273 - acc: 0.8596
Epoch 82/100
8000/8000 [==============================] - 4s 520us/sample - loss: 0.3285 - acc: 0.8604
Epoch 83/100
8000/8000 [==============================] - 4s 534us/sample - loss: 0.3306 - acc: 0.8527
Epoch 84/100
8000/8000 [==============================] - 4s 538us/sample - loss: 0.3254 - acc: 0.8599
Epoch 85/100
8000/8000 [==============================] - 5s 581us/sample - loss: 0.3284 - acc: 0.8565
Epoch 86/100
8000/8000 [==============================] - 4s 529us/sample - loss: 0.3251 - acc: 0.8607
Epoch 87/100
8000/8000 [==============================] - 5s 622us/sample - loss: 0.3207 - acc: 0.8605
Epoch 88/100
8000/8000 [==============================] - 5s 609us/sample - loss: 0.3331 - acc: 0.8562
Epoch 89/100
8000/8000 [==============================] - 4s 523us/sample - loss: 0.3304 - acc: 0.8566
Epoch 90/100
8000/8000 [==============================] - 4s 545us/sample - loss: 0.3162 - acc: 0.8643
Epoch 91/100
8000/8000 [==============================] - 4s 549us/sample - loss: 0.3311 - acc: 0.8551
Epoch 92/100
8000/8000 [==============================] - 5s 580us/sample - loss: 0.3263 - acc: 0.8613
Epoch 93/100
8000/8000 [==============================] - 4s 541us/sample - loss: 0.3254 - acc: 0.8558
Epoch 94/100
8000/8000 [==============================] - 5s 574us/sample - loss: 0.3252 - acc: 0.8586
Epoch 95/100
8000/8000 [==============================] - 4s 556us/sample - loss: 0.3276 - acc: 0.8573
Epoch 96/100
8000/8000 [==============================] - 4s 543us/sample - loss: 0.3263 - acc: 0.8599
Epoch 97/100
8000/8000 [==============================] - 4s 548us/sample - loss: 0.3226 - acc: 0.8608
Epoch 98/100
8000/8000 [==============================] - 5s 584us/sample - loss: 0.3209 - acc: 0.8624
Epoch 99/100
8000/8000 [==============================] - 4s 540us/sample - loss: 0.3172 - acc: 0.8632
Epoch 100/100
8000/8000 [==============================] - 4s 527us/sample - loss: 0.3227 - acc: 0.8583

In [12]:
#The Accuracy of the predicted values

model.evaluate(X_test,y_test)

2000/2000 [==============================] - 0s 97us/sample - loss: 0.4081 - acc: 0.8416

[0.40814122414588927, 0.8416349]

In [0]:
#Note #Note:the percentage of churn customers is about 15to 20%.

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo multiple                  44
_________________________________________________________________
dense (Dense)                multiple                  12000
_________________________________________________________________
dense_1 (Dense)              multiple                  500500
_________________________________________________________________
dense_2 (Dense)              multiple                  50100
=================================================================
Total params: 562,644
Trainable params: 562,622
Non-trainable params: 22
_________________________________________________________________

In [16]:
# Part 3 - Making the predictions and evaluating the model
# Predicting the Test set results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)#if y_pred is larger than 0.5 it returns true(1) else false(2)
print(y_pred)

[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]]

In [24]:
#Model prediction
prediction = model.predict(X_test[0:1])

#Print prediction
print(prediction)

[[0.43535012 0.4357178  0.4349789  0.43477714 0.43549702 0.43595833
  0.43595695 0.4356564  0.43559644 0.43629867 0.43621713 0.43496162
  0.43584687 0.43582547 0.4348805  0.43591213 0.43577254 0.43512264
  0.43481135 0.43602628 0.43479797 0.4359238  0.43590492 0.43545735
  0.43540722 0.43629962 0.43489963 0.43509609 0.43537533 0.4349271
  0.43595305 0.4361071  0.43603426 0.43543103 0.43575904 0.4353658
  0.43571553 0.43594792 0.4352581  0.4359882  0.435847   0.43469584
  0.43594182 0.43502617 0.43513995 0.4355287  0.43627173 0.43585777
  0.4352458  0.43628505 0.43608454 0.4348433  0.43499753 0.43490976
  0.43513384 0.43481523 0.4359908  0.43500182 0.4357853  0.4348689
  0.4357009  0.4355653  0.43471187 0.4350547  0.43580866 0.43504924
  0.43531248 0.43490118 0.4357715  0.4353004  0.43597567 0.4355844
  0.43516135 0.43540436 0.4364384  0.434893   0.4357473  0.43614623
  0.43573934 0.4359072  0.43627033 0.4351969  0.43635803 0.43549898
  0.43544745 0.43639782 0.43479156 0.4353176  0.4361176  0.43501818
  0.4357759  0.4358498  0.435111   0.43497154 0.43447387 0.43598676
  0.43620747 0.43601647 0.4350137  0.43572256]]

In [28]:
# Drop the columns which are unique
df1 = dataset.drop(["RowNumber", "CustomerId","Surname"], axis = 1)

df1.head()

df2 = pd.get_dummies(df1, columns=["Geography","Gender"])
df2.head(25)

    CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0           619   42       2  ...                0              1            0
1           608   41       1  ...                1              1            0
2           502   42       8  ...                0              1            0
3           699   39       1  ...                0              1            0
4           850   43       2  ...                1              1            0
5           645   44       8  ...                1              0            1
6           822   50       7  ...                0              0            1
7           376   29       4  ...                0              1            0
8           501   44       4  ...                0              0            1
9           684   27       2  ...                0              0            1
10          528   31       6  ...                0              0            1
11          497   24       3  ...                1              0            1
12          476   34      10  ...                0              1            0
13          549   25       5  ...                0              1            0
14          635   35       7  ...                1              1            0
15          616   45       3  ...                0              0            1
16          653   58       1  ...                0              0            1
17          549   24       9  ...                1              1            0
18          587   45       6  ...                1              0            1
19          726   24       6  ...                0              1            0
20          732   41       8  ...                0              0            1
21          636   32       8  ...                1              1            0
22          510   38       4  ...                1              1            0
23          669   46       3  ...                0              0            1
24          846   38       5  ...                0              1            0

[25 rows x 14 columns]

In [29]:
df3= df2.astype('float32')
df3.head()

   CreditScore   Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0        619.0  42.0     2.0  ...              0.0            1.0          0.0
1        608.0  41.0     1.0  ...              1.0            1.0          0.0
2        502.0  42.0     8.0  ...              0.0            1.0          0.0
3        699.0  39.0     1.0  ...              0.0            1.0          0.0
4        850.0  43.0     2.0  ...              1.0            1.0          0.0

[5 rows x 14 columns]

In [30]:
from sklearn.linear_model import LogisticRegression

X_train = df3.drop(["Exited"], axis=1)
y_train = df3.Exited
X_test  = df3.drop(["Exited"], axis=1).copy()
y_test  = df3.Exited

# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
#print(Y_pred)
acc_log = round(logreg.score(X_test, y_test), 3)
print("accuracy:", acc_log)

accuracy: 0.789

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [31]:
# Gradient Boosting Regressor
from sklearn.ensemble import GradientBoostingRegressor

X_train = df3.drop(["Exited"], axis=1)
y_train = df3.Exited
X_test  = df3.drop(["Exited"], axis=1).copy()
Y_test = df3.Exited

gbc = GradientBoostingRegressor(n_estimators = 20, learning_rate = 1.0, max_depth = 10, random_state = 0, loss = "ls")
gbc.fit(X_train, y_train)
Y_pred = gbc.predict(X_test)
print("accuracy:", gbc.score(X_test, y_test))

accuracy: 0.9576056746389561