### Load tensorflow

In [0]:
import tensorflow as tf

In [0]:
tf.__version__

'2.0.0-beta1'

### Enable Eager Execution if you are using tensorflow 1.x

In [0]:
#To Enable Eager Execution
tf.enable_eager_execution()

### Collect Data

In [0]:
import pandas as pd

In [0]:
data =  pd.read_csv('prices.csv')

In [11]:
data.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

### Check all columns in the dataset

In [12]:
data.shape

(229388, 7)

In [14]:
data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [27]:
##data.drop(columns=['date'],axis=1)

data_dp = data.drop(labels = ['date','symbol'], axis = 1)
data_dp.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

In [25]:
data_dp.head()

                  date        open  ...        high     volume
0  2016-01-05 00:00:00  123.430000  ...  126.250000  2163600.0
1  2016-01-06 00:00:00  125.239998  ...  125.540001  2386400.0
2  2016-01-07 00:00:00  116.379997  ...  119.739998  2489500.0
3  2016-01-08 00:00:00  115.480003  ...  117.440002  2006300.0
4  2016-01-11 00:00:00  117.010002  ...  117.330002  1408600.0

[5 rows x 6 columns]

In [21]:
data.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

### Consider only first 1000 rows in the dataset for building feature set and target set

In [29]:
dp1 = data_dp.head(1000)

dp1.shape

(1000, 5)

### Convert Float64 to Float32

In [126]:

dp2= dp1.astype('float32')

dp2.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
x=dp2.drop('close',axis=1)
y=dp2['close']
train_x, test_x,train_y,test_y = train_test_split(x, y, test_size=.3, random_state=7)

In [128]:
train_x.shape

(700, 4)

In [0]:
TEST_Y = np.array(train_y)

### Normalize Train and Test Data

In [0]:

import numpy as np
transformer = Normalizer()
x_train= transformer.fit_transform(train_x)
y_train=np.array(train_y)

## Building the graph in tensorflow

2.Define Weights and Bias

In [0]:
#We are initializing weights and Bias with Zero
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

3.Prediction

In [0]:
def prediction(x, w, b):
    
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

4.Loss (Cost) Function [Mean square error]

In [0]:
def loss(y_actual, y_predicted):
    
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

5.GradientDescent Optimizer to minimize Loss [GradientDescentOptimizer]

In [0]:
def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Execute the Graph for 100 epochs and observe the loss

In [136]:
for i in range(100):
    
    w, b = train(x_train,y_train, w, b)
    
    print('Current Loss on iteration', i, loss(y_train, prediction(x_train, w, b)).numpy())

Current Loss on iteration 0 7663.5674
Current Loss on iteration 1 7351.068
Current Loss on iteration 2 7063.063
Current Loss on iteration 3 6797.6484
Current Loss on iteration 4 6553.0317
Current Loss on iteration 5 6327.598
Current Loss on iteration 6 6119.837
Current Loss on iteration 7 5928.3633
Current Loss on iteration 8 5751.9062
Current Loss on iteration 9 5589.2773
Current Loss on iteration 10 5439.401
Current Loss on iteration 11 5301.2764
Current Loss on iteration 12 5173.9775
Current Loss on iteration 13 5056.6597
Current Loss on iteration 14 4948.547
Current Loss on iteration 15 4848.9014
Current Loss on iteration 16 4757.0674
Current Loss on iteration 17 4672.435
Current Loss on iteration 18 4594.4414
Current Loss on iteration 19 4522.562
Current Loss on iteration 20 4456.3125
Current Loss on iteration 21 4395.264
Current Loss on iteration 22 4338.998
Current Loss on iteration 23 4287.1445
Current Loss on iteration 24 4239.3525
Current Loss on iteration 25 4195.312
Current Loss on iteration 26 4154.721
Current Loss on iteration 27 4117.3145
Current Loss on iteration 28 4082.8386
Current Loss on iteration 29 4051.069
Current Loss on iteration 30 4021.7886
Current Loss on iteration 31 3994.8042
Current Loss on iteration 32 3969.9346
Current Loss on iteration 33 3947.0127
Current Loss on iteration 34 3925.89
Current Loss on iteration 35 3906.423
Current Loss on iteration 36 3888.484
Current Loss on iteration 37 3871.9485
Current Loss on iteration 38 3856.713
Current Loss on iteration 39 3842.6687
Current Loss on iteration 40 3829.7268
Current Loss on iteration 41 3817.7988
Current Loss on iteration 42 3806.8071
Current Loss on iteration 43 3796.6753
Current Loss on iteration 44 3787.3425
Current Loss on iteration 45 3778.7358
Current Loss on iteration 46 3770.807
Current Loss on iteration 47 3763.4978
Current Loss on iteration 48 3756.7632
Current Loss on iteration 49 3750.5557
Current Loss on iteration 50 3744.8325
Current Loss on iteration 51 3739.5645
Current Loss on iteration 52 3734.7046
Current Loss on iteration 53 3730.2256
Current Loss on iteration 54 3726.0996
Current Loss on iteration 55 3722.2964
Current Loss on iteration 56 3718.7917
Current Loss on iteration 57 3715.5593
Current Loss on iteration 58 3712.5837
Current Loss on iteration 59 3709.84
Current Loss on iteration 60 3707.3125
Current Loss on iteration 61 3704.9814
Current Loss on iteration 62 3702.8342
Current Loss on iteration 63 3700.8557
Current Loss on iteration 64 3699.0322
Current Loss on iteration 65 3697.3481
Current Loss on iteration 66 3695.8005
Current Loss on iteration 67 3694.376
Current Loss on iteration 68 3693.0576
Current Loss on iteration 69 3691.846
Current Loss on iteration 70 3690.7253
Current Loss on iteration 71 3689.6973
Current Loss on iteration 72 3688.75
Current Loss on iteration 73 3687.8718
Current Loss on iteration 74 3687.0671
Current Loss on iteration 75 3686.3252
Current Loss on iteration 76 3685.6409
Current Loss on iteration 77 3685.0066
Current Loss on iteration 78 3684.4272
Current Loss on iteration 79 3683.8896
Current Loss on iteration 80 3683.3992
Current Loss on iteration 81 3682.943
Current Loss on iteration 82 3682.5212
Current Loss on iteration 83 3682.1353
Current Loss on iteration 84 3681.78
Current Loss on iteration 85 3681.4497
Current Loss on iteration 86 3681.1477
Current Loss on iteration 87 3680.8687
Current Loss on iteration 88 3680.6118
Current Loss on iteration 89 3680.3762
Current Loss on iteration 90 3680.1558
Current Loss on iteration 91 3679.9553
Current Loss on iteration 92 3679.7717
Current Loss on iteration 93 3679.599
Current Loss on iteration 94 3679.44
Current Loss on iteration 95 3679.2969
Current Loss on iteration 96 3679.1626
Current Loss on iteration 97 3679.0403
Current Loss on iteration 98 3678.9255
Current Loss on iteration 99 3678.8208

### Get the shapes and values of W and b

In [137]:
#Check Weights and Bias
print('Weights:\n', w.numpy())
print('Bias:\n',b.numpy())

Weights:
 [[2.5370640e-03]
 [2.5125609e-03]
 [2.5582323e-03]
 [3.3697968e+01]]
Bias:
 [33.697968]

### Linear Classification using Keras

### Building the simple Neural Network in Keras with one neuron in the dense hidden layer.
#### Use Mean square error as loss function and sgd as optimizer

In [0]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(1, input_shape=(4,)))

#Compile the model
model.compile(optimizer='sgd', loss='mse')

### Execute the model

In [146]:
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
700/700 [==============================] - 0s 189us/sample - loss: 5960.2531
Epoch 2/10
700/700 [==============================] - 0s 39us/sample - loss: 4063.5770
Epoch 3/10
700/700 [==============================] - 0s 38us/sample - loss: 3742.1475
Epoch 4/10
700/700 [==============================] - 0s 36us/sample - loss: 3691.6651
Epoch 5/10
700/700 [==============================] - 0s 39us/sample - loss: 3683.2355
Epoch 6/10
700/700 [==============================] - 0s 32us/sample - loss: 3682.6257
Epoch 7/10
700/700 [==============================] - 0s 38us/sample - loss: 3680.5913
Epoch 8/10
700/700 [==============================] - 0s 35us/sample - loss: 3682.0956
Epoch 9/10
700/700 [==============================] - 0s 36us/sample - loss: 3680.8242
Epoch 10/10
700/700 [==============================] - 0s 41us/sample - loss: 3681.9083

### Classification using Keras

In [147]:
model.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 1)                 5
=================================================================
Total params: 5
Trainable params: 5
Non-trainable params: 0
_________________________________________________________________

In [148]:
model.get_weights()

[array([[ 0.6482708 ],
        [ 0.5859129 ],
        [-0.76487297],
        [34.12465   ]], dtype=float32), array([34.148727], dtype=float32)]

### Load the given Iris data using pandas (Iris.csv)

In [150]:
iris = pd.read_csv('Iris-2.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [151]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [0]:
iris.drop("Id",axis=1,inplace=True)

### Splitting the data into feature set and target set

In [0]:
features = iris.drop(columns= ['Species']) 

target = iris[['Species']]

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
from sklearn.preprocessing import LabelEncoder

Y_processed = pd.DataFrame(target).apply(LabelEncoder().fit_transform)

testY = tf.keras.utils.to_categorical(Y_processed, num_classes=3)

In [156]:
testY

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)

### Divide the dataset into Training and test (70:30)

In [0]:
from sklearn.model_selection import train_test_split
transformer = Normalizer()


train_x, test_x,train_y,test_y = train_test_split(features, testY, test_size=.3, random_state=7)

### Model
Build the model with following layers: <br>
1. First dense layer with 10 neurons with input shape 4 (according to the feature set) <br>
2. Second Dense layer with 8 neurons <br>
3. Output layer with 3 neurons with softmax activation (output layer, 3 neurons as we have 3 classes) <br>
4. Use SGD and categorical_crossentropy loss

In [0]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(10, activation='relu', input_shape=(4,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))

#Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

#Compile the model
model.compile(optimizer=sgd_optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

### Fitting the model and predicting

In [159]:
model.fit(train_x.values, train_y, validation_split=0.2, epochs=30)

Train on 84 samples, validate on 21 samples
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/30
84/84 [==============================] - 0s 5ms/sample - loss: 1.2027 - acc: 0.0714 - val_loss: 1.6855 - val_acc: 0.3810
Epoch 2/30
84/84 [==============================] - 0s 164us/sample - loss: 1.1259 - acc: 0.2381 - val_loss: 1.5128 - val_acc: 0.3810
Epoch 3/30
84/84 [==============================] - 0s 150us/sample - loss: 1.0663 - acc: 0.3571 - val_loss: 1.3764 - val_acc: 0.3810
Epoch 4/30
84/84 [==============================] - 0s 139us/sample - loss: 1.0088 - acc: 0.3571 - val_loss: 1.2921 - val_acc: 0.3810
Epoch 5/30
84/84 [==============================] - 0s 171us/sample - loss: 0.9801 - acc: 0.4167 - val_loss: 1.2233 - val_acc: 0.3810
Epoch 6/30
84/84 [==============================] - 0s 155us/sample - loss: 0.9423 - acc: 0.5357 - val_loss: 1.1679 - val_acc: 0.3810
Epoch 7/30
84/84 [==============================] - 0s 156us/sample - loss: 0.9071 - acc: 0.5119 - val_loss: 1.1274 - val_acc: 0.3810
Epoch 8/30
84/84 [==============================] - 0s 152us/sample - loss: 0.8752 - acc: 0.5952 - val_loss: 1.1014 - val_acc: 0.3810
Epoch 9/30
84/84 [==============================] - 0s 144us/sample - loss: 0.8450 - acc: 0.5952 - val_loss: 1.0864 - val_acc: 0.3810
Epoch 10/30
84/84 [==============================] - 0s 183us/sample - loss: 0.8222 - acc: 0.6548 - val_loss: 1.0810 - val_acc: 0.3333
Epoch 11/30
84/84 [==============================] - 0s 171us/sample - loss: 0.8230 - acc: 0.6905 - val_loss: 1.0840 - val_acc: 0.2857
Epoch 12/30
84/84 [==============================] - 0s 122us/sample - loss: 0.7755 - acc: 0.6786 - val_loss: 1.0937 - val_acc: 0.2857
Epoch 13/30
84/84 [==============================] - 0s 140us/sample - loss: 0.7462 - acc: 0.7024 - val_loss: 1.1064 - val_acc: 0.2857
Epoch 14/30
84/84 [==============================] - 0s 147us/sample - loss: 0.7251 - acc: 0.7024 - val_loss: 1.1205 - val_acc: 0.2857
Epoch 15/30
84/84 [==============================] - 0s 168us/sample - loss: 0.7233 - acc: 0.6786 - val_loss: 1.1329 - val_acc: 0.2857
Epoch 16/30
84/84 [==============================] - 0s 141us/sample - loss: 0.6947 - acc: 0.6786 - val_loss: 1.1524 - val_acc: 0.2857
Epoch 17/30
84/84 [==============================] - 0s 151us/sample - loss: 0.6789 - acc: 0.7143 - val_loss: 1.1689 - val_acc: 0.2857
Epoch 18/30
84/84 [==============================] - 0s 135us/sample - loss: 0.6803 - acc: 0.7143 - val_loss: 1.1933 - val_acc: 0.2857
Epoch 19/30
84/84 [==============================] - 0s 172us/sample - loss: 0.6576 - acc: 0.7262 - val_loss: 1.2153 - val_acc: 0.2857
Epoch 20/30
84/84 [==============================] - 0s 145us/sample - loss: 0.6373 - acc: 0.7024 - val_loss: 1.2363 - val_acc: 0.2857
Epoch 21/30
84/84 [==============================] - 0s 151us/sample - loss: 0.6315 - acc: 0.7262 - val_loss: 1.2444 - val_acc: 0.2857
Epoch 22/30
84/84 [==============================] - 0s 156us/sample - loss: 0.6123 - acc: 0.7262 - val_loss: 1.2587 - val_acc: 0.2857
Epoch 23/30
84/84 [==============================] - 0s 167us/sample - loss: 0.6070 - acc: 0.7381 - val_loss: 1.2738 - val_acc: 0.2857
Epoch 24/30
84/84 [==============================] - 0s 151us/sample - loss: 0.5877 - acc: 0.7500 - val_loss: 1.2833 - val_acc: 0.2857
Epoch 25/30
84/84 [==============================] - 0s 170us/sample - loss: 0.5873 - acc: 0.7381 - val_loss: 1.2934 - val_acc: 0.2857
Epoch 26/30
84/84 [==============================] - 0s 144us/sample - loss: 0.5753 - acc: 0.7262 - val_loss: 1.3064 - val_acc: 0.2857
Epoch 27/30
84/84 [==============================] - 0s 153us/sample - loss: 0.6198 - acc: 0.7143 - val_loss: 1.2841 - val_acc: 0.2857
Epoch 28/30
84/84 [==============================] - 0s 144us/sample - loss: 0.5609 - acc: 0.7262 - val_loss: 1.2879 - val_acc: 0.2857
Epoch 29/30
84/84 [==============================] - 0s 160us/sample - loss: 0.5522 - acc: 0.7619 - val_loss: 1.2930 - val_acc: 0.2857
Epoch 30/30
84/84 [==============================] - 0s 148us/sample - loss: 0.5583 - acc: 0.7381 - val_loss: 1.2906 - val_acc: 0.3333

### Report Accuracy of the predicted values

In [160]:
model.evaluate(test_x,test_y)

45/45 [==============================] - 0s 2ms/sample - loss: 1.1745 - acc: 0.4000

[1.1745498710208468, 0.4]

In [161]:
model.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo multiple                  16
_________________________________________________________________
dense_4 (Dense)              multiple                  50
_________________________________________________________________
dense_5 (Dense)              multiple                  88
_________________________________________________________________
dense_6 (Dense)              multiple                  27
=================================================================
Total params: 181
Trainable params: 173
Non-trainable params: 8
_________________________________________________________________